.center {
    width: 98vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .summary {
    display: flex;
}

p.data {
    padding: 15px;
    border: solid #04838f 3px;
    margin-right: 10px;
    border-radius: 15px;
  }

  h2 
  {
      background: rgb(4, 131, 143);
      padding: 15px;
      color: white;
      border-radius: 10px;
    }

div.home-stats {
  display: flex;
}

